<!-- Top Benefits Section -->
<section class="footer-benefits">
  <div class="wrapper">
    <h2>Our Benefits</h2>
    <ul class="benefits-list">
      <li>
        <span class="icon icon-plane"></span>
        <p>Velit nisl sodales eget donec quis. volutpat orci.</p>
      </li>
      <li>
        <span class="icon icon-truck"></span>
        <p>Dolor eu varius. Morbi fermentum velit nisl.</p>
      </li>
      <li>
        <span class="icon icon-phone"></span>
        <p>Malesuada fames ac ante ipsum primis in faucibus.</p>
      </li>
      <li>
        <span class="icon icon-graduation"></span>
        <p>Nisl sodales eget donec quis. volutpat orci.</p>
      </li>
    </ul>
  </div>
</section>

<div class="wrapper">
  <section class="footer-info">
    <div class="footer-shipping">
      <div class="footer-columns">
        <div class="footer-column">
          <h3>About Us</h3>
          <ul>
            <li>Organisation</li>
            <li>Partners</li>
            <li>Clients</li>
          </ul>
        </div>

        <div class="footer-column">
          <h3>Interesting Links</h3>
          <ul>
            <li>Photo Gallery</li>
            <li>Our Team</li>
            <li>Socials</li>
          </ul>
        </div>

        <div class="footer-column">
          <h3>Achievements</h3>
          <ul>
            <li>Winning Awards</li>
            <li>Press</li>
            <li>Our Amazing Clients</li>
          </ul>
        </div>
      </div>
      <h3>Shipping Information</h3>
      <p>
        Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut
        sit amet erat nec nibh rhoncus varius in non lorem. Donec interdum,
        lectus in convallis pulvinar, enim elit porta sapien, vel finibus erat
        felis sed neque. Etiam aliquet neque sagittis erat tincidunt aliquam.
      </p>
    </div>

    <div class="footer-contacts">
      <h3>Contact Us</h3>
      <p>
        Bendam dolor eu varius. Morbi fermentum velitsodales egetonec. volutpta
        orci. Sed ipsum felis, tristique egestas et, convallis ac velitn
        consequat nec luctus.
      </p>
      <ul class="contact-info">
        <li>
          <i class="icon icon-phone"></i>
          <span>Phone: (+63) 236 6322</span>
        </li>
        <li>
          <i class="icon icon-mail"></i>
          <span>public@news.com</span>
        </li>
        <li>
          <i class="icon icon-clock"></i>
          <span>
            Mon - Fri: 10am - 6pm
            <br />
            Sat - Sun: 10am - 6pm
          </span>
        </li>
        <li>
          <i class="icon icon-location"></i>
          <span>
            639 Jade Valley,
            <br />
            Washington Dc
          </span>
        </li>
      </ul>
    </div>
  </section>

  <div class="footer-bottom">
    <p>© Copyright 2025</p>
  </div>
</div>
