:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Helvetica Neue", sans-serif;
  --third-family: "SF Pro", sans-serif;
  --font3: "Inter", sans-serif;
  --font4: "SF Compact Rounded", sans-serif;
}
